apache
# Se estiver usando Apache,
# aponte o DocumentRoot para a pasta public/.

Options -Indexes


# Bloqueia acesso direto às pastas internas
# caso o servidor aponte para a raiz do projeto.

RedirectMatch 403 ^/(app|config|storage)/
